# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java (for Apache Hadoop)
4. SQL for relational databases
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. Numpy (Python)
3. dplyr (R)
4. ggplot2 (R)
5. Ski Py and Mathplot lib (Python)

# Data Science Tools

<table>
<tr><td>Jupyter Notebook</td><td>✅</td></tr>
<tr><td>RStudio</td><td>✅</td></tr>
<tr><td>Apache Zeppelin</td><td>✅</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers.

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes // 60
print(hours)

3

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Demonstrate and run code cells with arithmetic expressions
- Demonstrate markdown cells with HTML markup - tables
- Present a simple Jupyter notebook that runs in Vscode via Python Conda env.

## Author

Name: Maria Vorobeva